:root{
    --blue : #1D3F4F;
    --darkblue: #0F303F;
    --lightblue: #E1EDE3;
    --lighterblue: #F9F3EE;
}

/* Estilos generales */

body{
    font-family: 'Lexend', sans-serif !important;
    background-color: var(--blue);
}

.bg-darkblue{
    background-color: var(--darkblue) !important;
}

.bg-blue{
    background-color: var(--blue) !important;
}

.shadow-4 {
    box-shadow: 0 2px 4px -1px #0003,0 4px 5px #00000024,0 1px 10px #0000001f;
}

.shadow-5 {
    box-shadow: 0 3px 5px -1px #0003,0 5px 8px #00000024,0 1px 14px #0000001f;
}

.shadow-6 {
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
}

.bg-blue-gradient{
    background: rgb(29,63,79);
    background: linear-gradient(180deg, rgba(29,63,79,0) 25%, rgba(29,63,79,1) 97%);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.row{
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.text-lighterblue{
    color: var(--lighterblue) !important;
}

.text-lightblue{
    color: var(--lightblue) !important;
}

.btn-blue{
    background-color: var(--lightblue);
    color: var(--blue);
    box-shadow: 0 3px 5px -1px #0003,0 5px 8px #00000024,0 1px 14px #0000001f;
}

.btn-blue:hover, .btn-blue:focus{
    background-color: #c8d5cb;
    color: var(--blue);
    transition: 0.2s;
}

.mt-6{
    margin-top: 5.5rem !important;
}

.mb-6{
    margin-bottom: 5.5rem !important;
}

.my-6{
    margin-top: 5.5rem !important;
    margin-bottom: 5.5rem !important;
}

.fs-0{
    font-size: 3.5rem;
}

h1, h2, h3{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-select-batros {
    display: block;
    width: 100%;
    padding: 5px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-family: "Lexend", sans-serif !important;
    line-height: 1.5;
    color: #FFF !important;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");    background-repeat: no-repeat;
    --bs-form-select-indicator-color: #fff;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Formulario de contacto */
.form-contact{
    background-color: transparent;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FFF;
    color: white !important;
    display: block;
    width: 100%;
    font-family: 'Lexend', sans-serif !important;
    padding: 5px;
}

.form-contact::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

/* Home page */
.svg-container { 
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle; 
    overflow: hidden;
    z-index: 1;
}

.svg-container svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.svg-container .fa-location-dot{
    color: #899CA0;
    font-size: 40px;
}

.svg-container button:hover i, .svg-container button:focus i{
    color: #4b757d;
}

.custom-popover{
    --bs-popover-bg: var(--darkblue) !important;
    --bs-popover-body-color: var(--lighterblue) !important;
    --bs-popover-body-padding-x: 10px;
    --bs-popover-body-padding-y: 5px;
}

/* Construction page */
.blue-bg{
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

/* Paginación */
.pagination{
    justify-content: center!important;
}

.page-link {
    color: var(--blue);
    background-color: #fff;
    border: 1px solid var(--blue);
}

.page-link:hover {
    color: #fff;
    background-color: var(--darkblue);
    border: 1px solid var(--darkblue);
}

.page-item.active .page-link {
    background-color: var(--blue);
    border-color: var(--darkblue);
}

.page-item.disabled .page-link {
    color: var(--blue);
    background-color: #fff;
    border-color: var(--blue);
}

/* Pills */
.nav-pills{
    --bs-nav-pills-border-radius: 5px;
    --bs-nav-pills-link-active-color: var(--blue);
    --bs-nav-pills-link-active-bg: var(--lightblue) ;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: var(--lightblue);
}

/* Busqueda */
.card{
    --bs-card-bg: var(--darkblue);
}

/* Inventario */

.building-disponible{
    fill: rgba(85, 147, 104, 0.42);
    stroke: #276D3D;
    stroke-width: 5px;
    transition: 0.2s;
}

.building-disponible:hover{
    fill: rgba(85, 147, 104, 0.9);
    transition: 0.3s;
}

.building-apartada{
    fill: #CEB54A;
    fill-opacity: 0.5;
    stroke: #CEB54A;
    stroke-width: 5px;
    transition: 0.2s;
}

.building-apartada:hover{
    fill-opacity: 0.9;
    transition: 0.3s;
}

.building-vendida{
    fill: #B50505;
    fill-opacity: 0.5;
    stroke: #B50505;
    stroke-width: 5px;
    transition: 0.2s;
}

.building-vendida:hover{
    fill-opacity: 0.9;
    transition: 0.3s;
}

@media (max-width: 992px) {
    .mt-6{
        margin-top: 3.5rem !important;
    }
    
    .mb-6{
        margin-bottom: 3.5rem !important;
    }
    
    .my-6{
        margin-top: 3.5rem !important;
        margin-bottom: 3.5rem !important;
    }

    .fs-0{
        font-size: 3rem;
    }

    .svg-container .fa-location-dot{
        color: #899CA0;
        font-size: 15px;
    }
}